html{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}
body{
    background-color: #a7a09a;
}
a{
    color: blue;
}
h2{
    margin: 10px 0px 25px 10px;
}
.frame{
    width: 750px;
    margin: auto;
}
.header{
    line-height: 0;
    display: flex;
    padding-left: 10px;
    align-items: center;
    height: 50px;
    background-color: #dddddd;
    box-sizing: border-box;
}
.options{
    padding: 5px 0px 5px 10px;
    background-color: #cc9999;
}
.o1{
    padding-right: 10;
}
.column{
    display: flex;
}
.left{
    padding: 0px 10px;
    float: left;
    width: 500px;
    background-color: #99cc99;
    box-sizing: border-box;
}
.right{
    padding: 0px 10px;
    float: right;
    background-color: #9999cc;
    width: 230px;
    box-sizing: border-box;
}
.footer{
    padding: 5px 10px;
    background-color: #cccc99
}