html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    padding: 0;
    margin: 0;

}
.frame{
    width: 800px;
    margin: auto;
}
.header{
    margin: zero;
    padding-left: 10px;
    height: 50px;
    font-size: 40px;
    font-weight: bold;
    background-color: gray;
    box-sizing: border-box;
}
.options{
    padding: 0px 0px 0px 50px;
    padding-left: 10px;
    height: 50px;
    display: flex;
    background-color: blue;
    box-sizing: border-box;
}
.o1{
    color: white;
    padding-right: 20px;
}
.a1{
    color: blue;
}
.left{
    float: left;
    width: 250px;
}
.left1{
    background-color: yellow;
    height: 150px;
}
.left2{
    background-color: gray;
    height: 150px;
}
.left1>ul, .left2>ul {
    margin-top: 0;
}
.right{
    float: right;
    width: 550px;
    text-align: justify;
}
.right1{
    margin: 0;
    padding: 0;
}
.right1>p{
    margin: 2em 10px;
}
.right2{
    margin: 0;
    padding: 0;
    height: 128px;
    box-sizing: border-box;
}
.r2_1{
    margin: 0;
    padding: 0;
    float: left;
    height: 100%;
    width: 50%;
    background-color: green;
    display: flex;
    align-items: center;
}
.r2_2{
    margin: 0;
    padding: 0;
    float: right;
    height: 100%;
    width: 50%;
    background-color: red;
    display: flex;
    align-items: center;
}
.right2 p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}
.footer{
    height: 50px;
    text-align: center;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    background-color: blue;
    clear: both;
}